@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import 'variables.scss';

html, body {
  display: flex;
  align-content: center;
  justify-content: center;
}

#app {
  font-family: $font;
  font-size: 16px;
  line-height: 18px;
  min-width: 60vw;

  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  &:focus {
    outline: none;
  }
}

button {
  border: none;
  background: none;
  color: $light-grey;
  cursor: pointer;
}

.disabled {
  opacity: .2;
  cursor: not-allowed;
  pointer-events: none;
}
