// colors
$light-grey: #DBDBDB;
$green: #5DC2AF;

// corporate identity
$font: 'Roboto', sans-serif;
$common-opacity: .8;
$identity-border: $light-grey solid 1px;
$rounded-corners-px: 15px;
$semi-rounded-corners-px: 12px;
